.projects__filter {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  max-width: 277.7px;
  min-height: 47.5px;
  width: 100%;
}

.projects__filter:hover {
  border-bottom: 5px solid #009fac;
}
