.header__title {
  max-width: 445px;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 68px;
  letter-spacing: 0.1px;
  word-wrap: break-word;
  margin: 0 0 12px 0;
  padding: 172px 0 0;
}
