.home {
  font-family: 'OpenSans', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: #fff;
  background-color: #001337;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-height: 100vh;
  box-sizing: border-box;
  position: relative;
}
