.header__preview {
  min-width: 320px;
  width: 100vw;
  min-height: 1024px;
  margin: 0 auto;
  padding: 0 11.6%;
  background-image: url(../../../images/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
